In [4]:
import os
import glob

import pandas as pd
import numpy as np

import seaborn as sns

pd.set_option('display.max_rows', 500)

ModuleNotFoundError: No module named 'seaborn'

In [8]:
import tensorflow

ModuleNotFoundError: No module named 'tensorflow'

In [4]:
X_train = pd.read_csv('../data/train/x_train.csv')
y_train = pd.read_csv('../data/train/y_train.csv')

In [47]:
train_raw = X_train.merge(y_train, how='left', on='GeneId')

In [54]:
yesExpression = train_raw[train_raw['Prediction']==1].reset_index(drop=True)
noExpression = train_raw[train_raw['Prediction']==0].reset_index(drop=True)

In [62]:
yesExpression.drop('Prediction', axis=1).groupby('GeneId').sum().agg(['mean', 'std'])

         H3K4me3     H3K4me1    H3K36me3     H3K9me3    H3K27me3
mean  103.356452  191.506639  473.864767  792.024623  112.628980
std    68.781914   91.481353  237.739266  483.684822   56.726666

In [63]:
noExpression.drop('Prediction', axis=1).groupby('GeneId').sum().agg(['mean', 'std'])

         H3K4me3     H3K4me1    H3K36me3     H3K9me3    H3K27me3
mean  222.516046  115.054607  199.283644  226.848861  111.166149
std   158.148072   58.106251  173.857829  261.303198   66.740409

In [41]:
X_train[X_train['H3K4me3']==163]

         GeneId  H3K4me3  H3K4me1  H3K36me3  H3K9me3  H3K27me3
1533917   15340      163       93        81      109       108

In [38]:
temp.shape

(100, 6)

In [22]:
temp = X_train[X_train['GeneId'] == 1]
temp_melt = pd.melt(temp, id_vars='GeneId')

In [29]:
temp_melt.groupby(['GeneId', 'variable']).agg(['mean', 'std'])

                value
                 mean       std
GeneId variable
1      H3K27me3  0.85  0.880484
       H3K36me3  1.18  1.552970
       H3K4me1   0.70  0.915633
       H3K4me3   1.59  1.378735
       H3K9me3   1.78  2.918350

In [ ]:
X

H3K4me3
- DNA 패키징 단백질 히스톤 H3에 대한 후성유전적 변형
- 히스톤 H3 단백질(H3)의 4번째 라이신 잔기(K4)에서 트릴메틸화 변형(me3)을 나타냄
	- 라이신: K로 표기, HO2CCH (NH2) (CH2) 4NH2를 갖는 α- 아미노산, 필수 아미노산
	- 트릴메틸화 변형: 3개의 메틸 그룹이 히스톤이 붙는 것, me3
	- 3개의 메틸그룹이 H3K4에 붙어 H3K4me3가 히스톤 테일 프로모터 부분에 많이 있게 됨
- 유전자 발현 조절에 관여하는 마커(전사활성화(transcription activation) 마커)


H3K4me1
- DNA 패키징 단백질 Histone H3에 대한 후성유전적 변형
- 히스톤 H3 단백질(H3)의 4번째 라이신 잔기(K4)에서 모노메틸화(me1) 변형을 나타냄
- 유전자 인핸서와 관련 있는 표시
	- 인핸서(Enhancer): 프로모터에서 멀리 떨어진 위치에서 유전자의 전사(transcription)를 조절하는 DNA 염기서열
	- [Reference](http://www.ksmcb.or.kr/file/webzine/2015_08_03.pdf)

H3K36me3
- DNA 패키징 단백질 Histone H3에 대한 후성유전적 변형
- 히스톤 H3 단백질의 36번째 라이신 잔기(K36)에서 트릴메틸화 변형(me3)을 나타냄
- 유전자 본체와 관련 있는 표시


H3K9me3
- DNA 패키징 단백질 Histone H3에 대한 후성유전적 변형
- 히스톤 H3 단백질의 9번째 라이신 잔기(K9)에서 트릴메틸화(me3)를 나타냄
- 헤테로크로마틴과 관련 있는 표시
	- 헤테로크로마틴(Heterocromatin): DNA가 히스톤을 빠듯하게 감고 있는 뉴클레오좀 상태
	- 유크로마틴(Euchromatin): DNA가 히스톤을 느슨하게 감고 있는 뉴클레오좀 상태
	- 히스톤 꼬리(tail)에 달라 붙는 효소와 단백질에 따라 뉴클레오좀 상태가 결정됨. 즉, 달라붙은 단백질를 표식(Marker)으로 삼아 뉴클레오좀 상태를 가늠할 수 있음

H3K27me3
- DNA 패키징 단백질 Histone H3에 대한 후성유전적 변형
- 히스톤 H3 단백질의 27 번째 라이신 잔기에서 트리메틸 화를 나타내는 마크
- 트리메틸화는 헤테로크로마틱 영역 구성을 통해 근처 유전자의 하향조절(downregulation)과 관련